<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UDID</key>
	<string>8DE4DF9B-09A4-4CFF-88E1-C62C88DD1503</string>
	<key>deviceType</key>
	<string>com.apple.CoreSimulator.SimDeviceType.iPhone-5</string>
	<key>name</key>
	<string>iPhone 5</string>
	<key>runtime</key>
	<string>com.apple.CoreSimulator.SimRuntime.iOS-7-1</string>
	<key>state</key>
	<integer>1</integer>
</dict>
</plist>
