<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UDID</key>
	<string>B88A172B-CF92-4D3A-8A88-96FF4A6303D3</string>
	<key>deviceType</key>
	<string>com.apple.CoreSimulator.SimDeviceType.iPhone-5s</string>
	<key>name</key>
	<string>iPhone 5s</string>
	<key>runtime</key>
	<string>com.apple.CoreSimulator.SimRuntime.iOS-7-1</string>
	<key>state</key>
	<integer>3</integer>
</dict>
</plist>
